.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.mainfirst{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;


}

.first{

    width: 500px;
    height: 300px;
    border: 3px double black;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.second{

    width: 500px;
    height: 500px;
    border: 3px double black;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;


}

.inputfield{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
button{
    padding: 6px;
    border:none;
    background-color: blue;
    color: white;
}

.tablerow{
    display: flex;
}

td{
    flex:1;
}